.head{border:3px solid black;
      text-align:center;}

.head td {border:2px solid gray;
          }

.id,.comp{width:8%;}
.title,.start,.end{width:15%;}
.up{width:20%;}

.edit,.show{color:inherit;
            text-decoration:none;}

.delete{border:none;
        background-color:inherit;
        cursor:pointer;}